.section-card {
  background: rgba(3, 19, 33, 0.75);
  border-radius: 18px;
  padding: 28px;
  margin-bottom: 32px;
  border: 1px solid rgba(46, 242, 208, 0.18);

  box-shadow:
    0 0 22px rgba(46, 242, 208, 0.15),
    inset 0 0 18px rgba(46, 242, 208, 0.08);

  backdrop-filter: blur(8px);
  transition: 0.25s ease;
}

.section-card:hover {
  box-shadow:
    0 0 32px rgba(46, 242, 208, 0.25),
    inset 0 0 22px rgba(46, 242, 208, 0.12);
}
